// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

// $primary: #995956;
$primary: #c9ad79;
$secondary: #b52816;

$xl: 1440px; 
$lg: 992px;
$md: 768px;
$sm: 576px;
$xs: 300px;

body {
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

#wrapper-navbar {
  position: fixed;
  width: 100%;
  margin: 0 auto;
  padding: 1.2rem 0 1.2rem 0;
  background: $primary;
  // background: #fff;
  transition: .5s;
  z-index: 400;
  &.header--clear {
    background: transparent;
  }
  @media(min-width: $lg) {
    padding: 1.3rem 0 1.3rem 0;
  }
  .logo-holder {
    position: absolute;
    top:20px;
    left:40px;
    img{
      width: 250px;
      height: 250px;
    }
  }
  #main-nav {
    padding: 0px;
    width: 88%;
    margin: 0 auto;
    @media(min-width: $md) {
      width: 100%;
    }
    .sp-menu {
      position: fixed;
      top: 0;
      right: -100%;
      width: 100%;
      height: 100vh;
      color: #fff;
      background-color: $primary;
      padding: 5rem 0 5rem 0;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      z-index: 200;
      transition: all .5s cubic-bezier(1, 0, 0, 1);
      @media (min-width: $lg) {
        position:static;
        width: auto;
        height: auto;
        color: #343332;
        background: none;
        padding: 0;
        display: inline-flex;
        flex-direction: row;
        justify-content: flex-start;
        transition: 0.5s;
        ul {
          display: flex;
          justify-content: space-between;
        }
        .page-name {
          &:first-child {
            display: none;
          }
        }
      }
      #navbarNavDropdown {
        display: flex;
        #main-menu,.main-menu--white {
          display: flex;
          flex-direction: column;
          padding-left: 0;
          margin-bottom: 0;
          list-style: none;
          align-items: center;
          width: 100%;
          @media (min-width: $lg) {
            flex-direction: row;
          }
          li {
            margin-bottom: 3.7rem;
            @media (min-width: $lg) {
              display: flex;
              margin-bottom: 0;
              margin-right: 4rem;
              position: relative;
              &:after {
                content: "";
                position: absolute;
                background: #282018;
                transition: .3s ease;
                left: 0;
                bottom: -5px;
                height: 4px;
                width: 0%;
              }
              &:hover {
                &:after {
                  width: 100%;
                  transition: .4s ease;
                }
              }
            }
            
            a {
              font-weight: bold;
              text-transform: uppercase;
              color: #fff;
              font-size: 1.7rem;
              line-height: 1;
              padding: 0px;
              @media (min-width: $lg) {
                font-size: 1.2rem;
                transition: 0.5s;
                color: #282018;
              }
            }
            &.active {
              a {
                color: $secondary;
              }
              &:after {
                background-color: $secondary;
              }
            }
          }
          &.main-menu--white{
            li {
              a {
                color: #fff;
              }
              &:after{
                background-color: #fff;
              }
              &.active {
                a {
                  color:$secondary;
                }
                &:after {
                  background-color: $secondary;
                }
              }
            }
          }
        }
      }
      &.sp-menu--open {
        right: 0;
        li{
          a {
            color: #fff;
          }
          &:nth-child(1) {
            transform: translate3d(600px, 0, 0);
            animation: menu 0.8s 0.1s forwards;
          }
          &:nth-child(2) {
            transform: translate3d(600px, 0, 0);
            animation: menu 0.8s 0.2s forwards;
          }
          &:nth-child(3) {
            transform: translate3d(600px, 0, 0);
            animation: menu 0.8s 0.3s forwards;
          }
          @keyframes menu {
            from {
              opacity: 0;
              transform: translate3d(100%, 0, 0);
            }
        
            to {
              opacity: 1;
              transform: translate3d(0, 0, 0);
            }
          }
        }
      }
      .nav-icons {
        a {
          color: #fff;
        }
        @media (min-width: $lg){
          a {
            color: #282018;
          }
          &.nav-icons--white {
            a {
              color: #fff;
            }
          }
        }
      }
      .page-name {
        color: #fff;
      }
    }
    .page-name {
      color: #282018;
      font-family: 'Merienda', cursive;
      transition: 0.5s;
      &.page-name--white {
        color: #fff;
        transition: 0.5s;
      }
    }
    .menu-icon {
      position: relative;
      display: block;
      width: 2.5rem;
      height: 2.4rem;
      cursor: pointer;
      float: none;
      transition: all 0.5s;
      z-index: 300;
      @media (min-width: $lg) {
        display:none;
      }
      span {
        position: absolute;
        top: 50%;
        display: block;
        width: 100%;
        height: 0.2rem;
        background-color: #282018;
        border-radius: 3px;
        transition: all 0.5s;
        &:before,&:after {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          background-color: #282018;
          border-radius: 0.3rem;
          transition: all 0.5s;
        }
        &:before {
          transform: translateY(-0.7rem)
        }
      
        &:after {
          transform: translateY(0.7rem)
        }
      }
      &.menu-icon--white {
        span {
          background-color: #fff;
          &:after {
              content: "";
              background-color: #fff;
          }
          &:before {
              content: "";
              background-color: #fff;
          }
        }
      }
      &.open {
        transform: rotate(45deg);
        span {
          background-color: #fff;
          &:before {
              transform: rotate(90deg);
              background-color: #fff;
          }
          &:after {
              transform: rotate(90deg);
              background-color: #fff;
          }
        }
      }
    }
  }
}
.loader {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: $primary;
  z-index: 1000;
  -webkit-transition: all .5s cubic-bezier(1, 0, 0, 1);
  transition: all .5s cubic-bezier(1, 0, 0, 1);
  .loader__wrap {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    .loader__logo {
      width: 50%;
      margin: auto;
      img {
        max-width: 100%;
        height: auto;
        vertical-align: middle;
        width: 100%;
        margin-bottom: 3.2rem;
        border-style: none;
      }
    }
    #noTrespassingOuterBarG {
      height: 19px;
      width: 156px;
      border: 1px solid #fff;
      overflow: hidden;
      margin: auto;
      border-radius: 5px;
      .noTrespassingAnimationG {
        width: 230px;
        animation-name: noTrespassingAnimationG;
        -o-animation-name: noTrespassingAnimationG;
        -ms-animation-name: noTrespassingAnimationG;
        -webkit-animation-name: noTrespassingAnimationG;
        -moz-animation-name: noTrespassingAnimationG;
        animation-duration: 1.5s;
        -o-animation-duration: 1.5s;
        -ms-animation-duration: 1.5s;
        -webkit-animation-duration: 1.5s;
        -moz-animation-duration: 1.5s;
        animation-iteration-count: infinite;
        -o-animation-iteration-count: infinite;
        -ms-animation-iteration-count: infinite;
        -webkit-animation-iteration-count: infinite;
        -moz-animation-iteration-count: infinite;
        animation-timing-function: linear;
        -o-animation-timing-function: linear;
        -ms-animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
        @keyframes noTrespassingAnimationG {
          0% {
              transform: translate3d(0, 0, 0)
          }
      
          100% {
              transform: translate3d(-37px, 0, 0)
          }
        }
        @-o-keyframes noTrespassingAnimationG {
            0% {
                transform: translate3d(0, 0, 0)
            }
          
            100% {
                transform: translate3d(-37px, 0, 0)
            }
        }
        @-ms-keyframes noTrespassingAnimationG {
            0% {
                transform: translate3d(0, 0, 0)
            }
          
            100% {
                transform: translate3d(-37px, 0, 0)
            }
        }
        @-webkit-keyframes noTrespassingAnimationG {
            0% {
                transform: translate3d(0, 0, 0)
            }
          
            100% {
                transform: translate3d(-37px, 0, 0)
            }
        }
        @-moz-keyframes noTrespassingAnimationG {
            0% {
                transform: translate3d(0, 0, 0)
            }
          
            100% {
                transform: translate3d(-37px, 0, 0)
            }
        }
        .noTrespassingBarLineG {
          background-color: #fff;
          float: left;
          width: 14px;
          height: 117px;
          margin-right: 23px;
          margin-top: -27px;
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
        }
      }
    }
  }
  @media (min-width: $md) {
    .loader__wrap {
    -webkit-transform: scale(1);
    transform: scale(1);
    }
  }
  &.js-loader {
    -webkit-transform: translate3d(0, -100vh, 0);
    transform: translate3d(0, -100vh, 0);
  }
}

.home-banner {
  overflow: hidden;
  height: 100vh;
  position: relative;
  z-index: -1;
  .main-visual--top {
    height: 100vh;
    background: url('../img/nuts_background_dark.jpg') center no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 0;
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
  }
  .main-visual {
    width: 100%;
    height: 100vh;
  }
  &.js-home-banner {
    .over-ray {
      animation: fade 5s ease forwards;
    }
    .reile-logo {
      animation: logo-fade 2s ease 1s forwards;
    }
    .main-visual--top {
      animation: hero 4s ease forwards;
    }
    @media (min-width: $lg) {
      &:after {
          width:1024px;
          left: 0;
          right: 0;
          margin: auto;
      }
    }
    @keyframes fade {
      from {
          background-color: transparent;
      }
  
      to {
          background-color: rgba(0,0,0,0.6);
      }
    }
    @keyframes logo-fade {
      0% {
          transform: scale(0.9) rotate(4deg)
      }
  
      100% {
          opacity: 1;
          transform: scale(1) rotate(0deg);
          filter: none
      }
    }
    @keyframes hero {
      from {
          transform: scale(1.08)
      }
  
      to {
          transform: scale(1)
      }
    }
  }
  .over-ray {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .reile-logo {
      width: 50%;
      opacity: 0;
      filter: blur(10px);
      @media (min-width: $lg) {
        width:22%;
      }
    }
  }
  @media (min-width: $md) {
    .main-visual {
      height: 60rem;
    }
    .main-visual--top {
      background: url('../img/nuts_background_dark.jpg') center no-repeat;
      background-size: cover;
    }
  }
}

.about-us, .what-we-offer {
  @media (min-width: $lg) {
    margin: 8rem 12rem;
  }
  .image-holder {
    display: flex;
    justify-content: center;
  }
  .extract {
    h2 {
      font-family: 'Shadows Into Light', cursive;
      font-size: 3rem;
    }
  }
}

#wrapper-footer {
  padding: 30px 0 10px;
  background: #282018;
  color: #fff;
  .footer {
    @media (min-width: $lg) {
      margin: 0 12rem;
    }
    .footer-section {
      .title {
        font-weight: bold;
        font-size: 1.3rem;
        margin-bottom: 1rem;
        text-align: center;
      }
      .footer-section-item {
        list-style-type: none;
        font-size: 0.8rem;
        text-align: center;
      }
      ul {
        padding-left: 0;
        .footer-section-item {
          font-size: 1rem;
        }
      }
    }
    .embedded-fb {
      align-self: center;
      justify-content: center;
      width: 100%;
    }
  }
}
.footer-end {
  font-weight: 300;
  font-size: 0.8rem;
  background: #000;
  color: #fff;
}

.button {
  display: inline-block;
  text-decoration: none;
  border-radius: 0.25rem;
  border: 1px solid $secondary;
  color: $secondary;
  padding: 1rem 3rem;
  transition: 0.5s;
  &:hover {
    text-decoration: none;
    background: #b52816;
    color: #fff;
    border-radius: 2.25rem;
    box-shadow: 8px 8px 8px 0px rgba(0,0,0,.25);
    transform: translateY(-5px);
  }
}

.products{
  padding-top: 6rem;
  @media (min-width: $lg) {
    padding-top: 8rem;
  }
  .slider-wrapper {
    padding: 2rem 2rem;
    @media (min-width:$lg) {
      padding: 0;
    }
    .splide--ltr {
      .splide__arrows {
        .splide__arrow {
          &:disabled {
            opacity: 0.3;
            cursor: auto;
          }
          &[disabled] {
            opacity: 0.3;
            cursor: auto;
          }
        }
        .splide__arrow--prev {
          left: -3.5rem;
          @media (max-width: 1050px) {
            left: -2.4rem;
          }
          @media (max-width: 1050px) {
            left: -2.4rem;
          }
        }
        .splide__arrow--next {
          right: -3.5rem;
          @media (max-width: 1050px) {
            right: -2.4rem;
          }
          @media (max-width: 1050px) {
            right: -2.4rem;
          }
        }
      }
      .splide__track {
        .splide__list{
          .splide__slide {
            text-align: center;
            font-size: 1.25rem;
            font-weight: 700;
            transition: 0.2s;
            cursor: pointer;
            margin: 0 1.5rem;
            line-height: 2.5;
            &:hover {
              transform: translateY(-15%) scale(1.2);
              text-shadow: 4px 2px 4px rgba(0,0,0,.3);
              @media (max-width: 1200px) {
                transform: translateY(8%) scale(1.1);
              }
            }
            @media (max-width: $lg) {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
  .product-list {
    margin-bottom: 2rem;
    @media (min-width: $lg) {
      margin-top: 2rem;
    }
    .product-title {
      h2 {
        font-weight: bold;
      }
    }
    .product-items {
      min-height: 400px;
      .card {
        cursor: pointer;
        transition: 0.2s;
        .card-body {
          .card-title {
            font-size: 1.25rem;
          }
          .card-subtitle {
            font-size: 1rem;
          }
          .price-list {
            list-style-type: none;
            padding: 0 1rem;
            margin-bottom: 0;
          }
        }
        &:hover {
          transform: translateY(-3%);
          box-shadow: 3px 4px 16px 0px rgba(0,0,0,.20)
        }
      }
    }
  }
}

.contact {
  padding-top: 7rem;
  @media (min-width: $lg) {
    padding-top: 8rem;
    margin: 0 15rem 3rem;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  input, textarea {
    margin-bottom: 0.95rem;
    &[type="submit"] {
      margin-bottom: 0rem;
    }
  }
}

.wsp_icon {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index:3;
  transition: .2s;
  &:hover {
    opacity: 0.5;
    transform: translateY(-5%);
  }
}